<div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="hidden" data-ng-model="expenses.tripId" />
            <input type="text" class="form-control" placeholder="Expense $x.xx" data-ng-model="expenses.dollarAmount" required autofocus>
            <input type="text" class="form-control" placeholder="Expense Date- mm/dd/yyyy" data-ng-model="expenses.expenseDate" required="" />
            <input type="text" class="form-control" placeholder="Details" data-ng-model="expenses.notes" required="" />
            
            <button class="btn btn-sm btn-info btn-block" type="button" style="margin-top:10px;" data-ng-click="saveExpense()">Save Expense</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="btn-group-justified">
        <a class="btn btn-default" data-ng-href="#/tripdetails/{{expenses.tripId}}"><i class="fa fa-undo"></i></a>
        <a class="btn btn-default" href="#/myroadtrips"><i class="fa fa-road"></i></a>
    </div>
</nav>