<div class="row">
    <div class="col-lg-6">
        <a data-ng-href="#/myroadtrips" class="btn btn-default">Back</a>
    </div>
</div>
<div class="row">
    {{routeTripDetails.roadTripName}}
    
</div>
<div class="row">
    {{routeTripDetails.roadTripHash}}
</div>

<div class="footer">
    <div class="btn btn-group form-control">
        <a class="btn btn-default col-lg-6" data-ng-href="#/expenses/{{routeTripDetails.roadTripId}}"><i class="fa fa-dollar"></i></a>
        <div class="btn btn-default col-lg-6"><i class="fa fa-users"></i></div>
    </div>
</div>